<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appcompat.Light.NoActionBar.FullScreen">
        <activity
            android:name=".RestTriceps"
            android:exported="false" />
        <activity
            android:name=".RestSquats"
            android:exported="false" />
        <activity
            android:name=".RestSideReach"
            android:exported="false" />
        <activity
            android:name=".RestSideLunges"
            android:exported="false" />
        <activity
            android:name=".RestPushup"
            android:exported="false" />
        <activity
            android:name=".RestPlanks"
            android:exported="false" />
        <activity
            android:name=".RestKneesLift"
            android:exported="false" />
        <activity
            android:name=".RestJumpingJacks"
            android:exported="false" />
        <activity
            android:name=".RestJogging"
            android:exported="false" />
        <activity
            android:name=".RestHipRotation"
            android:exported="false" />
        <activity
            android:name=".RestArmReach"
            android:exported="false" />
        <activity
            android:name=".RestArmCircle"
            android:exported="false" />
        <activity
            android:name=".Intro"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".SideLunges_Timer"
            android:exported="false" />
        <activity
            android:name=".KneesLift_Timer"
            android:exported="false" />
        <activity
            android:name=".HipRotation_Timer"
            android:exported="false" />
        <activity
            android:name=".SideReach_Timer"
            android:exported="false" />
        <activity
            android:name=".ArmCircle_Timer"
            android:exported="false" />
        <activity
            android:name=".ArmReach_Timer"
            android:exported="false" />
        <activity
            android:name=".JumpingJacks_Timer"
            android:exported="false" />
        <activity
            android:name=".Jogging_Timer"
            android:exported="false" />
        <activity
            android:name=".Planks_Timer"
            android:exported="false" />
        <activity
            android:name=".Squats_Timer"
            android:exported="false" />
        <activity
            android:name=".Triceps_Timer"
            android:exported="false" />
        <activity
            android:name=".Pushup_Timer"
            android:exported="false" />
        <activity
            android:name=".ExerciseQuiz"
            android:exported="false" />
        <activity
            android:name=".ExerciseList"
            android:exported="false" />
        <activity
            android:name=".ListView"
            android:exported="false" />
        <activity
            android:name=".Timer12"
            android:exported="false" />
        <activity
            android:name=".Timer11"
            android:exported="false" />
        <activity
            android:name=".Timer10"
            android:exported="false" />
        <activity
            android:name=".Timer9"
            android:exported="false" />
        <activity
            android:name=".Timer8"
            android:exported="false" />
        <activity
            android:name=".Timer7"
            android:exported="false" />
        <activity
            android:name=".Timer6"
            android:exported="false" />
        <activity
            android:name=".Timer5"
            android:exported="false" />
        <activity
            android:name=".Timer4"
            android:exported="false" />
        <activity
            android:name=".Timer3"
            android:exported="false" />
        <activity
            android:name=".Timer2"
            android:exported="false" />
        <activity
            android:name=".Timer1"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartGame"
            android:exported="true" />
        <activity
            android:name=".GameOver"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>